

<div class="col-md-12">
    <form action="/requestDemo" method="POST">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName"><br><br>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName"><br><br>
        <label for="company">Company:</label>
        <input type="text" id="company" name="company"><br><br>
        <label for="email">E-Mail:</label>
        <input type="text" id="email" name="email"><br><br>
        <label for="aboutUs">How did you find TaskMaster:</label>
        <input type="text" id="aboutUs" name="aboutUs"><br><br>

    </form>

</div>