<div class="col-md-12">
    <h3 class="center">Request a TaskMaster Demo</h3>
    <h4 class="center">Free 15 demo with one of our representatives</h4>
</div>

<div class="center" requestDemo="buttonActions/requestDemo.html">
    <button requestDemo="requestDemo.html" type="button" onclick="requestPage()">Free Demo</button>
</div>

<div id="demoDiv">
    <button id="demoButton" type="button">Free Demo</button>
</div>

<button id="myBtn1" type="button" onclick="includeHTMLa()">Free Demo</button>

<div>
    <h4 id="ourProduct" class="title center">Our Product</h4>
    <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
</div>

<div>
    <h4 id="statistics" class="title center">Helping others grow their business</h4>
    <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
</div>

<div>
    <h4 id="ourPartners" class="title center">Our Partners</h4>
    <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
</div>