


<h3>Register</h3>
<div class="col-md-12">
    <form action="/register" method="POST" target="_blank">
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname"><br><br>

        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname"><br><br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="firstName"><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>

        <label for="egn">EGN:</label>
        <input type="text" id="egn" name="egn"><br><br>

        <label for="phoneNumber">Phone Number:</label>
        <input type="text" id="phoneNumber" name="phoneNumber"><br><br>

        <label for="company">Company:</label>
        <input type="text" id="company" name="company"><br><br>

        <label for="roles">Roles:</label>
        <input type="text" id="roles" name="roles"><br><br>

        <label for="email">E-Mail:</label>
        <input type="text" id="email" name="email"><br><br>

        <input type="submit" value="Submit">
    </form>

    <!--private String roles;
    private String active;
    private boolean locked;

    private WorkSheet worksheet;
    private int hourlyRate;
    protected Integer salary;
    private String department;-->



</div>