


<h3>Register</h3>
<div class="col-md-12">
    <form action="/registerDemo" method="POST" target="_blank">
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstName"><br><br>
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastName"><br><br>
        <label for="company">Company:</label>
        <input type="text" id="company" name="company"><br><br>
        <label for="email">E-Mail:</label>
        <input type="text" id="email" name="email"><br><br>
        <label for="aboutUs">How did you find TaskMaster:</label>
        <input type="text" id="aboutUs" name="aboutUs"><br><br>
        <input type="submit" value="Submit">
    </form>

</div>