.titleText {
    text-align: center;
    color: black;
    background-color: #5cffe4;


    margin-bottom: 1%;
    padding: 1%;


}

.center {
    text-align: center;
}

.body {
    width: 100%;
}

.footer {
    background-color: #e698c5;
    border-top: 3px solid #5cffe4;
}


.title {
    margin: 1%;
    padding: 1%;
    color: white;
    background-color: #ffd15c;
    border-style: solid;
    /*border-top: 1px solid #5cffe4;
    border-left: 1px solid #5cffe4;
    border-right: 1px solid #5cffe4;
    border-bottom: 1px solid #5cffe4;*/
}

