







<div class="footer">
    <ul>
        <li onclick="requestPage()">About us</li>
        <li onclick="requestPage()">Our Partners</li>
        <li onclick="requestPage()">Contact us</li>
        <li onclick="requestPage()">Careers</li>
    </ul>
</div>





